nav a {
    color: white;
}

.centered-form {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.column {
    padding: 20px;
}

#flack-window {
    min-height: 100vh;
    width: 100%;
}

#nav-channels {
    background-color: #563d7c;
}

#messages {
    min-height: 80vh;
    max-height: 80vh;
}