<!DOCTYPE html>
<html>
    <head>
        <title>Flack</title>

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.11/handlebars.min.js"></script>
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>

        <script id="channel" type="text/x-handlebars-template">
            <a class="nav-link" href="channels/{% raw -%}{{contents}}{%- endraw %}">
                {% raw -%}
                    {{contents}}
                {%- endraw %}
            </a>
        </script>

        <script src="{{ url_for('static', filename='js/index.js') }}"></script>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    </head>
    <body>
        <form id="new-display-name">
            <div class="form-inline centered-form">
                <input type="text" class="form-control mb-2" id="display-name" autofocus placeholder="Display Name">
                <button type="submit" class="btn btn-primary mb-2">Submit</button>
            </div>
        </form>

        <div class="row">
            <div id="nav-channels" class="col-3 column">
                <form id="new-channel-name">
                    <div class="form-inline">
                        <input type="text" class="form-control mb-2" id="channel-name" pattern="[a-zA-Z0-9_]+" placeholder="Create Channel">
                        <button type="submit" class="btn btn-secondary mb-2">Create</button>
                    </div>
                </form>

                <nav id="channels">
                </nav>
            </div>

            <div class="col-9 column">
                Cillum ad ut irure tempor velit nostrud occaecat ullamco aliqua anim Lorem sint. Veniam sint duis incididunt do esse magna mollit excepteur laborum qui. Id id reprehenderit sit est eu aliqua occaecat quis et velit excepteur laborum mollit dolore eiusmod. Ipsum dolor in occaecat commodo et voluptate minim reprehenderit mollit pariatur. Deserunt non laborum enim et cillum eu deserunt excepteur ea incididunt minim occaecat.
            </div>
        </div>
    </body>
</html>