<!DOCTYPE html>
<html>
    <head>
        <title>Flack</title>
        <style>
            .centered-form {
                display: flex;
                justify-content: center;
                align-items: center;
                min-height: 100vh;
            }
        </style>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.11/handlebars.min.js"></script>

        <script id="channel" type="text/x-handlebars-template">
            <div class="channel">
                {% raw -%}
                    {{contents}}
                {%- endraw %}
            </div>
        </script>

        <script src="{{ url_for('static', filename='index.js') }}"></script>
    </head>
    <body>
        <form id="new-display-name">
            <div class="centered-form">
                <input type="text" id="display-name"autofocus placeholder="Display Name">
                <button type="submit">Submit</button>
            </div>
        </form>

        <div id="channels">
        </div>
    </body>
</html>