<!DOCTYPE html>
<html>
    <head>
        <title>Flack</title>
        <style>
            .centered-form {
                display: flex;
                justify-content: center;
                align-items: center;
                min-height: 100vh;
            }
        </style>

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.11/handlebars.min.js"></script>

        <script id="channel" type="text/x-handlebars-template">
            <div class="channel">
                {% raw -%}
                    {{contents}}
                {%- endraw %}
            </div>
        </script>

        <script src="{{ url_for('static', filename='index.js') }}"></script>
    </head>
    <body>
        <form id="new-display-name">
            <div class="form-inline centered-form">
                <input type="text" class="form-control mb-2" id="display-name"autofocus placeholder="Display Name">
                <button type="submit" class="btn btn-primary mb-2">Submit</button>
            </div>
        </form>

        <div class="row">
            <div id="channels" class="col-3">
            </div>
            <div class="col-9">
                Cillum ad ut irure tempor velit nostrud occaecat ullamco aliqua anim Lorem sint. Veniam sint duis incididunt do esse magna mollit excepteur laborum qui. Id id reprehenderit sit est eu aliqua occaecat quis et velit excepteur laborum mollit dolore eiusmod. Ipsum dolor in occaecat commodo et voluptate minim reprehenderit mollit pariatur. Deserunt non laborum enim et cillum eu deserunt excepteur ea incididunt minim occaecat.
            </div>
        </div>
    </body>
</html>